.navbar {
  margin-top: 5px;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
}

.destaque {
  background-color: #9ab1bd;
  border: 1px solid #0d0d0d;
  border-radius: 5px;
  overflow-x: auto;
  white-space: nowrap;
  max-height: 207px;
}

.destaque-int {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.destaque-int img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.destaque-int-int {
  margin-block-end: 10px;
  padding-inline: 10px;
}

/* .destaque-int {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10%;
}

.destaque-int img {
  width: 100%;
  height: auto;
}

.destaque-int-int {
  margin-bottom: 10px;
  padding: 10px;
}

.fixed-title {
  position: sticky;
  top: 0;
  background-color: #f0f0f0;
  padding: 10px;
  z-index: 1;
  font-weight: bold;
} */
