<div class="destaque">
  <div class="navbar">
    Destaques
  </div>
  <hr>
  <div class="destaque-int">
    <div class="destaque-int-int">
      <a href="https://www.dio.me/articles/angular-e-java-um-dupla-poderosa">
        <img [src]="caminhoDaImagem1" alt="Java & Angular">
      </a>
    </div>
    <div class="destaque-int-int">
      <a href="https://cursos.alura.com.br/desenvolvedor-java-jr-rkai-alura-1650889291539-p351016">
        <img [src]="caminhoDaImagem2" alt="Java">
      </a>
    </div>
  </div>
</div>