<main>
  <app-classes [categorias]="resultados" (categoriaSelecionada)="setCategoriaSelecionada($event)"></app-classes>
  <app-objetos [categoria]="categoriaSelecionada" (veiculoSelecionado)="setVeiculoSelecionado($event)"></app-objetos>
  <app-propriedades [veiculo]="veiculoSelecionado" (propriedadeSelecionada)="setValorPropriedade($event)"></app-propriedades>
  <app-valor-propriedades [propriedade]="propriedadeSelecionada"></app-valor-propriedades>
  <button class="conponent_title" (click)="setVeiculosLista(veiculoSelecionado)">Adicionar</button>
</main>
<app-carinho [carinho]="listaVeiculos"></app-carinho>