@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&family=Kanit:ital,wght@0,200;1,100&family=Quicksand:wght@300&family=Vina+Sans&display=swap');

body {
    font-family: 'Glass Antiqua', cursive;
    display: flex;
    align-content: center;
    justify-content: center; 
}

.container-destinos {
    width: 60%;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(3, 33.33%);
    justify-items: center;
    text-align: center;
    margin-top: 2%;
}

.roteiros-viagens {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    padding: 8%;
    height: auto;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #d4efff;
    color: #742DB7;
    box-shadow: 2px 3px #d4efff;
    position: relative;
}

.roteiro-incluso {
    display: flex;
    flex-direction: column;
    text-align: left;
    list-style-type: none;
    padding: 0;
}

.roteiro-incluso li::before {
    content: "\2714";
    margin-right: 8px;
    color: #742DB7;
    display: inline-block;
    text-align: left;
}



.roteiro-preco,
.roteiro-destino {
    font-weight: bold;
    padding-block: 5%;
}

.roteiros-viagens img {
    width: 110px;
    height: 80px;
    object-fit: fill;
    border-radius: 6px;
    margin-top: 10px;
}

.roteiro-comprar {
    position: relative;
    background-color: #8FD429;
    border-radius: 10px;
    color: white;
    border: none;
    font-weight: bold;
    box-shadow: 2px 2px #c1afde;
    margin-block: 5%;
    padding: 8px;
}

.roteiro-comprar:active {
    background-color: #8FD429;
}

.roteiro-comprar:hover {
    cursor: pointer;
    background-color: #3e6308;
}

#addPacote {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .roteiros-viagens {
        width: 100%;
        margin-block: 15px;
    }

    .container-destinos {
        grid-template-columns: auto;
    }
}