/* Formulario */
.container_form {
  width: 70%;
  margin: 20px auto;
}

.form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form_grupo {
  margin-bottom: 15px;
}

.form_label {
  display: block;
  margin-bottom: 5px;
}

.form_input,
.dropdown {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form_message_label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
}

.message_input {
  resize: vertical;
}

.botao-inserir {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.botao-inserir:hover {
  background-color: #45a049;
}