<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Carro</title>
</head>

<body>
    <h1>Detalhes do Carro</h1>
    <form>
        <label for="modelo">Modelo:</label><br>
        <input type="text" id="modelo" name="modelo" value="Fusca" readonly><br>

        <label for="marca">Marca:</label><br>
        <input type="text" id="marca" name="marca" value="Volkswagen" readonly><br>

        <label for="ano">Ano:</label><br>
        <input type="number" id="ano" name="ano" value="1970" readonly><br>

        <label for="valor">Valor:</label><br>
        <input type="number" id="valor" name="valor" value="10000" readonly><br>

        <label for="cor">Cor:</label><br>
        <input type="text" id="cor" name="cor" value="Azul" readonly><br>

        <label for="foto">Foto:</label><br>
        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.automaistv.com.br%2Fconheca-o-vw-fusca-moderno-que-custa-mais-que-uma-ferrari%2F&psig=AOvVaw0MoRAkmDld2LHJo9YIucHU&ust=1708625885850000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCLjH_8-FvYQDFQAAAAAdAAAAABAD"
            alt="Foto do Fusca" width="200" height="150"><br>
    </form>
</body>

</html>