<h1>Lista de Dados</h1>
<div class="pet-list">
  <ul *ngFor="let atendimento of atendimentos">
    <li><strong>Nome:</strong>{{atendimento.nome}}</li>
    <li><strong>CPF:</strong>{{atendimento.cpf}}</li>
    <li><strong>Telefone:</strong>{{atendimento.telefone}}</li>
    <li><strong>Nome do Pet:</strong>{{atendimento.nomePet}}</li>
    <li><strong>Raça:</strong>{{atendimento.raca}}</li>
    <li><strong>Data do Atendimento:</strong>{{atendimento.dataAtendimento}}</li>
    <a routerLink='/update/{{atendimento?.id}}'>Editar</a>
  </ul>
</div>