@import url("https://fonts.googleapis.com/css2?family=Times+New+Roman&display=swap");

form {
  text-align: center;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
}

.campos_form {
  width: 30%;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin: 20px;
  font-family: "Times New Roman", serif;
  color: #333;
  font-size: 24px;
}

#caixa_form {
  width: 100%;
  justify-content: center;
  display: flex;
}

#caixa_botao {
  padding: 10px;
  align-self: flex-end;
  justify-self: flex-end;
  width: 67%;
}

button {
  width: 120px;
  height: 50px;
  border-radius: 20px;
  border: none;
  background-color: #add8e6;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transição suave */
}

button:hover {
  background-color: #87ceeb;
}

input {
  height: 40px;
  border-radius: 10px;
  border: 2px solid #999;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
}

label {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #666;
}
