<div class="noticias">
  <div class="navbar">
    Notícias
  </div>
  <hr>
  <div class="noticias-int">
    <li>Novo complexo de Laboratórios da Uesc</li>
    <a href="https://www2.uesc.br/noticias/936/Novo-complexo-de-laboratorios-da-Uesc-esta-em-fase-de-conclusao"><span
        class="link-text">CPBIO em fase de Conclusão</span></a>

    <li>Fortec participa do "Portal Vitrine-MEC de Tecnologias"</li>
    <a href="https://www2.uesc.br/noticias/934/Fortec-participa-do-lancamento-Portal-Vitrine-MEC-de-Tecnologias"><span
        class="link-text">Destaque para Participação do Profnit</span></a>

    <li>Funcionamento durante Recesso Acadêmico</li>
    <a href="https://www2.uesc.br/noticias/935/Funcionamento-Durante-o-Recesso-Academico-1702477496"><span
        class="link-text">Restaurante Universitário</span></a>
  </div>
</div>