<!-- directive formGroup -->
<!-- directive formControlName -->
<form [formGroup]="exemploForm" (ngSubmit)="onSubmit()">
    <label>
        Nome da Estação:
        <input formControlName="nome">
        <span *ngIf="!exemploForm.get('nome')?.valid &&
            exemploForm.get('nome')?.touched">Min:3 Max:10 caracteres</span>
        <br>
    </label>
    <!-- <label>
        Email:
        <input formControlName="email">
        <span *ngIf="!exemploForm.get('email')?.valid &&
            exemploForm.get('email')?.touched">Email inválido</span>
        <br>
    </label> -->
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required ngModel email #email="ngModel">
    <span *ngIf="!email.valid && email.touched">Emtre com um email Válido</span>

    <label>
        Localização:
        <input formControlName="localizacao">
        <span *ngIf="!exemploForm.get('localizacao')?.valid &&
            exemploForm.get('localizacao')?.touched">Campo obrigatório</span>
        <br>
    </label>

    <!-- <h1>Log de Status</h1>
    <button (click)="addLogStatus()">Adicionar</button>

    <div formArrayName="logEstacao">
        <div *ngFor="let log of getControls(); let i=index">
            <label for="input{{i}}">{{labelLogs[y]}}</label>
            {{ incY()}}
            <input id="input{{i}}" type="text" [formControlName]="i">
            <hr>
        </div>
    </div> -->

    <button type="submit">Enviar</button>
</form>