.menu {
  background-color: #9ab1bd;
  border: 1px solid #0d0d0d;
  border-radius: 5px;
  text-decoration: none;
}

.menu a,
ul {
  text-decoration: none;
  color: black;
  font-family: "Glass Antiqua", cursivo;
  font-size: 20px;
}

.menu a:hover {
  color: rgb(26, 126, 8);
}

.navbar {
  margin-top: 5px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}