<div class="resultados">
  <div class="navbar">Resultados
    <hr>
  </div>
  <div class="resultados-int">
    <div>
      <ul>
        <li>Doutorado em Ciência Animal</li>
        <a href="https://www2.uesc.br/publicacoes/portarias/arquivo/2023/12/833_2023.pdf" class="link-text">Resultado
          Final</a>
        <li>Pós-graduação Profissional em Enfermagem</li>
        <a href="http://www.uesc.br/cursos/pos_graduacao/mestrado/ppgenf/index.php?item=conteudo_selecao.php"
          class="link-text">Resultado
          Parcial da Homologação das Inscrições</a>
        <li>Seleção de Bolsistas - PID</li>
        <a href="http://www.uesc.br/mural/2023/resultado-preliminar-ed214-pid.pdf" class="link-text">Resultado
          Preliminar - Vagas
          Remanescentes</a>
        <li>Produção Vegetal - Mestrado e Doutorado</li>
        <a href="https://www2.uesc.br/publicacoes/portarias/arquivo/2023/12/822_2023.pdf" class="link-text">Resultado
          Final</a>
      </ul>
    </div>
  </div>
</div>